# Terraform
.terraform/
**/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
**/.terraform.lock.hcl
*.tfvars
*.tfvars.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
venv/
env/

# OS & IDE
.DS_Store
.vscode/
.idea/

# Scripts & Secrets
scripts/*.py
*.key
*.pem
